.input-height {
    width: 15vw;
    border: none;
    padding: 0 10px;
    font-weight: bold;
}

.input-height-mobile {
    width: 100%;
    padding: 0;
    border: none;
    font-weight: bold;
}

.input-height,.input-height-mobile{
    height: 3rem;
}
.info{
    width: 20rem;
    padding: .5rem;
    background-color: rgb(3, 14, 24);
}
/* .input-height-mobile:focus{
    height: 3rem;
} */