.input-height {
    width: 15vw;
    border: none;
    padding: 0 0 0 7px;
    font-weight: bold;
}

.input-height-mobile {
    width: 100%;
    padding: 0 0 0 7px;
    border: none;
    font-weight: bold;
}

.input-height,.input-height-mobile{
    height: 3rem;
}