:root {
  --grayish: rgb(101, 101, 101);
  --backgroundColor: #373737;
  --buttonColor: #4c4c4b;
}
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-grayish {
  color: var(--grayish);
}

.text-white {
  color: white;
}

.text-center {
  text-align: center;
}

.pb-1 {
  padding-bottom: 0.5rem;
}
.ps-button {
  position: absolute;
  bottom: 0;
}
.text-light-gray{
  color: rgb(116, 116, 116);
}
.max-prec-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.image-small {
  height: auto;
  vertical-align: middle;
  width: 30px;
}

.va-middle {
  vertical-align: middle;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.p1 {
  padding: 1rem;
}
.pb1 {
  padding-bottom: 1rem;
}
.p-3 {
  padding: 0.3rem;
}
.border-radius-max {
  border-radius: 50%;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.font-bold {
  font-weight: bold;
}
.no-margin {
  margin: 0;
}

.mt3 {
  margin-top: 3rem;
}
