html, body {
  background-color: #232323;
}
.App{
  padding:1rem
}
.float-right{
  float: right;
}
.text-grayish{
  color: rgb(140 139 139);
}
.text-white{
  color: white;
}
.text-center{
  text-align: center;
}
.card-bg{
  background-color: #373737;
}
.pb-1{
  padding-bottom: .5rem;
}
.card{
  position: relative;
  height: 30vh;
}
.ps-button{
  position: absolute;
  bottom: 0;
}
.max-prec-width{
  width: 100%;
}
.half-width{
  width: 50%;
}
.image-small{ 
  height: auto;
  vertical-align: middle;
  width: 30px;
}
.va-middle{
  vertical-align: middle;
}
.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cards-grid-template{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.input-height {
  height: 4.5vh;
}
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #333; 
  border-radius: 10px;
}
 
/* Handle */
*::-webkit-scrollbar-thumb {
  background-color: #616161; 
  border-radius: 10px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background-color: #444444; 
}
button:focus-visible:not(:focus) {
  outline: none;
}
input:focus{
  outline: none;
}


