html, body {
  background-color: #232323;
}
.App{
  padding:1rem
}

.cards-grid-template{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
@media only screen and (max-width: 430px) {
  .cards-grid-template{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #333; 
  border-radius: 10px;
}
 
/* Handle */
*::-webkit-scrollbar-thumb {
  background-color: #616161; 
  border-radius: 10px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background-color: #444444; 
}
button:focus-visible:not(:focus) {
  outline: none;
}
input:focus{
  outline: none;
}


.Dialog-Container{
  padding: 10px;
}
.Submit-mobile{
  position: fixed;
  height:40px;
  bottom:0;
  left: 0;
  z-index: 1;
  background-color: var(--grayish);
  width:100%;
  text-align:center;
  font-size:22px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
  transition:bottom .3s;
}
.hide{
  bottom: -40px;
}