html,
body {
  background-color: #232323;
}
.App {
  padding: 1rem;
}

.App-header-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
}

.cards-grid-template {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
@media only screen and (max-width: 430px) {
  .App-header-grid {
    display: block;
  }
  .cards-grid-template {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

.img-bg {
  background-color: var(--backgroundColor);
}
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #333;
  border-radius: 10px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background-color: #616161;
  border-radius: 10px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background-color: #444444;
}
button:focus-visible:not(:focus) {
  outline: none;
}
input:focus {
  outline: none;
}

*{
  font-family: Open Sans;
}