.Submit-mobile {
  position: fixed;
  height: 60px;
  bottom: 0;
  left: 0;
  border: none;
  z-index: 1;
  background-color: var(--buttonColor);
  width: 100%;
  text-align: center;
  font-size: 22px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  transition: bottom 0.3s;
}
.hide {
  bottom: -60px;
}
